.zag{
  font-size: 35px;
  color: #4fd7d7;
}
.par{
  font-size: 25px;
  color: #bb59ec;
}
.sp1{
  font-size: 60px;
  background-color: #fc2f2f;
}
.sp2{
  font-size: 60px;
  background-color: #58c232;
}
.sp3{
  font-size: 60px;
  background-color: #5e99d1;
}

